<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Message Publisher</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="sree-warrier" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <br>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>